ul{
	list-style: None;
	padding: 0;
	margin:0;
}#block-37{
	clear: left;
	border: none;
	height: 9px;
}
.nt-7{
	width: 9px;
	height: 7px;
	background: grey;
}
.li-6{
	margin-right: 604px;
	float: left;
}
.t-4{
	width: 19px;
	height: 6px;
	background: green;
}
.li-12{
	margin-right: 17px;
	float: left;
}
#div-13{
	background: green;
	width: 85px;
	height: 8px;
	float: left;
	margin-left: 144px;
}
#ul-6{
	float: none;
}
#block-38{
	clear: left;
	border: none;
	height: 23px;
}
#div-15{
	background: green;
	width: 89px;
	height: 23px;
	float: left;
}
#div-16{
	background: grey;
	width: 301px;
	height: 22px;
	float: left;
	margin-left: 23px;
}
#div-17{
	background: grey;
	width: 38px;
	height: 13px;
	float: left;
	margin-left: 76px;
}
#div-18{
	background: grey;
	width: 15px;
	height: 10px;
	float: left;
	margin-left: 19px;
}
#div-19{
	background: green;
	width: 14px;
	height: 6px;
	float: left;
	margin-left: 2px;
}
#block-39{
	clear: left;
	border: none;
	height: 10px;
}
#div-20{
	background: grey;
	width: 28px;
	height: 10px;
	float: left;
}
.t-0{
	width: 26px;
	height: 6px;
	background: green;
}
.li-9{
	margin-right: 18px;
	float: left;
}
#ul-9{
	float: left;
	padding-left: 17px;
	clear: none;
}
#block-40{
	clear: left;
	border: none;
	height: 136px;
}
#block-41{
	float: left;
	border: none;
	height: 135px;
}
#div-30{
	background: grey;
	width: 410px;
	height: 135px;
}
#div-84{
	background: orange;
	width: 163px;
	height: 133px;
	margin-top: -135px;
}
#block-42{
	float: left;
	border: none;
	height: 129px;
	margin-left: 27px;
}
#block-43{
	clear: left;
	border: none;
	height: 87px;
}
#div-28{
	background: grey;
	width: 140px;
	height: 87px;
	float: none;
}
#div-83{
	background: orange;
	width: 119px;
	height: 67px;
	float: none;
	margin-top: -68px;
}
#block-44{
	clear: left;
	border: none;
	height: 14px;
	margin-top: 3px;
}
#div-32{
	background: grey;
	width: 13px;
	height: 14px;
	float: left;
}
#div-33{
	background: green;
	width: 97px;
	height: 7px;
	float: left;
	margin-left: 5px;
}
#block-45{
	clear: left;
	border: none;
	height: 7px;
	margin-top: 18px;
}
#div-34{
	background: green;
	width: 32px;
	height: 7px;
	float: left;
}
#div-35{
	background: grey;
	width: 14px;
	height: 6px;
	float: left;
	margin-left: 2px;
}
.nt-0{
	width: 7px;
	height: 8px;
	background: grey;
}
.li-3{
	margin-bottom: 6px;
}
#ul-3{
	float: left;
	padding-left: 3px;
	clear: none;
}
#block-46{
	clear: left;
	border: none;
	height: 54px;
}
#block-47{
	float: left;
	border: none;
	height: 36px;
	margin-left: 27px;
}
.t-1{
	width: 14px;
	height: 6px;
	background: green;
}
.li-10{
	margin-right: 69px;
	float: left;
}
.nt-2{
	width: 6px;
	height: 5px;
	background: grey;
}
.li-5{
	margin-bottom: 25px;
}
.nt-8{
	width: 18px;
	height: 15px;
	background: grey;
}
.li-7{
	margin-right: 102px;
	float: left;
}
#div-45{
	background: grey;
	width: 19px;
	height: 24px;
	margin-top: -16px;
}
.nt-10{
	width: 7px;
	height: 5px;
	background: grey;
}
.li-4{
	margin-right: 3px;
	float: left;
}
.nt-9{
	width: 6px;
	height: 5px;
	background: grey;
}
.li-8{
	margin-right: 35px;
	float: left;
}
#ul-5{
	padding-top: -6px;
}
#ul-7{
	padding-top: -24px;
}
#ul-4{
	padding-top: -5px;
}
#ul-8{
	padding-top: -5px;
}
.nt-11{
	width: 78px;
	height: 37px;
	background: grey;
}
.t-2{
	width: 73px;
	height: 13px;
	background: green;
	margin-top: 1px;
}
.li-2{
	margin-right: 4px;
	height: 51px;
	float: left;
}
#ul-2{
	float: left;
}
#block-48{
	clear: left;
	border: none;
	height: 477px;
}
#block-49{
	float: left;
	border: none;
	height: 177px;
	margin-left: 64px;
}
.t-10{
	width: 90px;
	height: 17px;
	background: green;
}
.li-11{
	margin-bottom: 142px;
}
.nt-6{
	width: 33px;
	height: 33px;
	background: grey;
	float: left;
}
.t-11{
	width: 83px;
	height: 24px;
	background: green;
	margin-left: 6px;
	float: left;
}
.li-1{
	margin-bottom: 7px;
	height: 33px;
}
#ul-1{
	padding-top: -159px;
}
.nt-5{
	width: 103px;
	height: 58px;
	background: grey;
	float: left;
}
.t-12{
	width: 249px;
	height: 40px;
	background: green;
	margin-left: 10px;
	float: left;
}
.li-0{
	margin-bottom: 11px;
	height: 59px;
}
#ul-0{
	float: left;
}
.clip_img{
	display:none}
